<div class="container bg-white">
  <div *ngIf="show">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card mt-0">
          <div class="card-header text-center">
            <h5> {{ show.name }} </h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-center">
                <video class="embed-responsive" poster="https://image.tmdb.org/t/p/w500/{{ show.poster_path }}" controls="controls">
                  <source src="https://www.youtube.com/watch?v={{ show.key }}" class="embed-responsive-item" type="video/webm" />
                  <source src="https://www.youtube.com/watch?v={{ show.key }}" class="embed-responsive-item" type="video/mp4" />
                  <source src="https://www.youtube.com/watch?v={{ show.key }}" class="embed-responsive-item" type="video/ogg" />
                </video>
              </div>
              <div class="col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item rounded-0 bg-light">
                    <strong>Release Date: </strong> {{ show.first_air_date | date:'dd-MM-yyyy' }}
                  </li>
                  <li class="list-group-item text-justify bg-light">
                    <strong>Summary: </strong> {{ show.overview }}
                  </li>
                  <li class="list-group-item bg-light">
                    <strong>Genre: </strong>
                    <span *ngFor="let genre of show.genres" class="badge badge-primary mr-2">
                      {{ genre.name }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>